.form{
  height:100vh;
  background-color:#eee4bd;
  display:flex;
  align-items:center;

}
.main{
  height:100vh ;
  background-color:rgb(249, 249, 249);
  display:flex;
  align-items:center;

}
.link {
  color: #fff;
  text-decoration: inherit;
}
.link:hover{
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.7)
}
.blog-form{
  height:100vh;
  background-color:rgb(249, 249, 249);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center
}

.spener{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  
}


/*model  */

.model{
  width: 100%;
  height: calc(100% - 55px);
  position:absolute;
  top:55px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.singel-blog{
  position:relative
}
.btn-clos{
  background: none;
  border: none;
}

.btn-clos:hover{
  transform: scale(1.2);
  background-color:rgb(240, 72, 72);
  border-radius: 5px;
  color:white
}