*{
  text-decoration:none;
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 58, 64);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


.logo{
  font-family: 'Inspiration', cursive;
  font-weight:600;
}
.site-name{
  font-family: 'Inspiration', cursive;
  font-weight:700;
  font-size: 40px;
  text-transform: capitalize;
  color:rgb(249, 249, 249);
  padding-left: 10px;
}
.user{
  text-transform: uppercase;
}
.form{
  height:100vh;
  background-color:rgb(249, 249, 249);
  display:flex;
  align-items:center;

}
.main{
  height:100vh ;
  background-color:rgb(249, 249, 249);
  display:flex;
  align-items:center;

}

.home-main{
  background:url(https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative
}
.after{
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(45, 51, 56,0.2);
  position:absolute;
}
.main-red-mor{
  height:100vh ;
  background-color:rgb(249, 249, 249);
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.btn-continer{
  display:flex;
  justify-content: space-around;
}
.login-btn{
  color: rgb(10, 10, 10);
  border: 0.5px solid rgb(0, 0, 0);
  padding:0 5px
}
.btn-btn{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 0.5px solid rgb(255, 255, 255);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn-btn .link{
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #39D4C7;
  
  transition: all .70s;
}

.btn-btn:hover{
  color: #fff;
  border: 0px;
}

.btn-btn:hover:after{
  width: 100%;
}
 .links {
  color: #fff;
  text-decoration: inherit;
}
.links:hover{
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.7)
} 
.blog-form{
  height:100vh;
  background-color:rgb(249, 249, 249);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center
}

.spener{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.read-lenk{
  text-decoration:none;
  color:black;
  pointer-events: none;
}
.read-span{
  color:rgb(7, 19, 194);
  cursor: pointer;
  pointer-events:painted;
  font-size:12px
}
.read-lenk:hover{
  text-decoration:none;
  color:black
}
/*model  */

.model{
  width: 100%;
  height: calc(100% - 55px);
  position:absolute;
  top:55px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.singel-blog{
  position:relative
}
.btn-clos{
  background: none;
  border: none;
}

.btn-clos:hover{
  transform: scale(1.2);
  background-color:rgb(240, 72, 72);
  border-radius: 5px;
  color:white
}
.author{
  position:absolute;
  bottom:2px;
  font-size: 11px;
  color:rgb(146, 146, 146);
  text-transform: capitalize;
}
.redMore{
  font-size: 12px;
  color:rgb(43, 90, 190);
  text-transform:lowercase
}
/* .btn-user-cart-edete{
  position:absolute;
  bottom:2px;
}
.btn-user-cart-delet{
  position:absolute;
  bottom:2px;
  margin-left: 120px;
} */

.blog-read-redMore{
  width:50%
  
}
.discript{
  padding-left:35px
}

/* read mor page*/
.read__more{
  margin-top: 130px;
  border-radius:10px;
  border: 2px solid rgb(241, 241, 241);
  margin-bottom: 10px;
}
.read__more__img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*creat blog form*/
 /* .creat__blog__form{
  max-width: 100%;
}  */
.creat__blog__cont{
  margin-top: 15%;
  background-color: #f1f1f1;
  padding:30px;
  border-radius: 10px;
}
/* .blog__form__cont{
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
} */

/*log in and logout btn*/
.log-in-btn{
  background-color:rgb(52, 58, 64);
  padding:5px 20px;
  border-radius:3px;
  cursor:pointer
}

.log-in-btn .link{
  color:white;

}

.log-in-btn .link:hover{
  text-decoration:none;
}
.login-continer{
  display:flex;
  justify-content:space-between;
  max-width:270px;
  min-width: 230px;
  margin-right:2px;
}
/* user card btn*/
.btn{
  background-color:none;
  
}
.delet{
  color:rgb(52, 58, 64);
  font-size: 20px;
}
.edite{
  color:rgb(52, 58, 64);
  font-size: 20px;
}

.red-para{
  padding-top:10px;
  max-height:75vh;
  overflow-y: scroll;
  line-height:30px;
}




