.form{
  height:100vh;
  background-color:#eee4bd;
  display:flex;
  align-items:center;

}
.main{
  height:100vh ;
  background-color:#eee4bd;
  display:flex;
  align-items:center;

}
.link {
  color: #fff;
  text-decoration: inherit;
}
.link:hover{
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.7)
}
.blog-form{
  height:100vh;
  background-color:#eee4bd;
  display:flex;
  align-items:center;
  flex-direction: column;
  align-items: center;
  justify-content:center
}